<% layout('layout/boilerPlate')-%>


    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h2 class="text-center mb-4 text-white display-4" style="background-color: #000000;">About Us</h2>
            </div>
        </div>
    </div>


    <div class="container py-5">
        <div class="container">
            <div class="row g-5">
               
                <div class="col wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex justify-content-center">
                        <h1 class="me-2 ">Welcome to</h1> <img src="assets/logo.png" width="130px" height="40px"
                            alt="logo">
                    </div>
                    <p class="mb-4">
                    <h2 style="display: inline-block; color:red">Hunar, </h2>
                    <p style="font-size: 20px;"> an extraordinary brand, stands at the crossroads of tradition and
                        innovation, weaving a rich
                        tapestry of culture and creativity. It represents more than just a fashion label; it is an
                        immersive
                        journey into the soul of craftsmanship, where every stitch tells a story of heritage and
                        timeless
                        elegance. The very name 'Hunar,' meaning skill and talent, encapsulates the brand's commitment
                        to
                        pushing the boundaries of conventional fashion.

                        From its inception, Hunar has been driven by a profound respect for authenticity and a
                        dedication to
                        preserving traditional artistry. Each creation is a labor of love, a meticulous fusion of
                        age-old
                        techniques and contemporary design philosophies. It goes beyond the realm of mere garments,
                        evolving
                        into a cultural celebration and a testament to the artisans' dedication. These artisans, the
                        backbone of
                        Hunar, pour their expertise into every masterpiece, turning fabrics into canvases that depict
                        the beauty
                        of diverse cultural influences.

                        Hunar is not just a label; it's a curator of stories, an archive of skilled craftsmanship passed
                        down
                        through generations. Each design is a chapter, narrating tales of resilience, creativity, and a
                        deep
                        respect for the heritage that inspires it. The brand serves as a bridge connecting the past to
                        the
                        present, honoring traditions while embracing the evolving landscape of fashion.

                        At its core, Hunar is a celebration of diversity, reflecting the beauty of different cultures
                        and
                        redefining elegance in the contemporary era. The brand's collections are an embodiment of this
                        philosophy, telling stories that resonate with a global audience. Hunar's commitment extends
                        beyond the
                        runway; it's a commitment to responsible luxury and sustainable fashion. The brand intertwines
                        ethical
                        practices with a dedication to environmental stewardship, ensuring that each creation not only
                        radiates
                        beauty but also carries a responsibility to the planet and its communities.

                        As a pioneer in responsible luxury, Hunar stands as a beacon for a new era of fashion, where
                        beauty is
                        inseparable from ethical values. The brand's journey involves a conscious effort to minimize its
                        environmental footprint, championing sustainable practices without compromising on the exquisite
                        quality
                        that defines it. The result is a collection that is not just fashionable but also contributes to
                        a more
                        sustainable and responsible future.

                        Welcome to the world of Hunar, where every thread tells a story, and every creation is a tribute
                        to
                        timeless artistry and the spirit of cultural celebration. It is a brand that not only embraces
                        the
                        diversity of the world but also actively contributes to its betterment. Hunar is more than a
                        fashion
                        statement; it is a testament to the enduring power of creativity, craftsmanship, and the shared
                        heritage
                        that unites us all. As you explore the collections, remember that each piece carries a piece of
                        history,
                        a story waiting to be told, and an invitation to be a part of a global movement towards a more
                        conscious
                        and beautiful future.
                    </p>
                    </p>

                    <div class="row gy-2 gx-4 mb-4">
                    <h2 style="display: inline-block; color:red">Categories</h2>

                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Angarkha</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Anarkali</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Baghal Bandi

                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Bandgala/Jodhpuri suit
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Balabar</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Chaubandi Chola

                            </p>
                        </div>
                    </div>
                    <a href="/categories" class="btn btn-primary py-3 px-5 mt-2" >View categories</a>
                </div>
            </div>
        </div>
    </div>