<% layout('layout/boilerPlate') -%>


<div class="container mt-5">
    <h2>Shipping Information</h2>
    <p>We offer free shipping on all orders over $50. For orders below $50, a flat shipping fee of $5 will be applied.</p>
    <p>Shipping times may vary based on your location. Please refer to the estimated delivery times below:</p>

    <ul>
        <li>Standard Shipping: 5-7 business days</li>
        <li>Express Shipping: 2-3 business days</li>
        <li>International Shipping: 10-14 business days</li>
    </ul>
</div>

<div class="container mt-5">
    <h2>Returns and Exchanges</h2>
    <p>If you are not satisfied with your purchase, you can return or exchange the item within 30 days of the purchase date. Please follow the steps below:</p>

    <ol>
        <li>Contact our customer support team to initiate the return or exchange process.</li>
        <li>Ensure that the item is in its original packaging and unused condition.</li>
        <li>Include the original receipt or proof of purchase with the returned item.</li>
        <li>Ship the item to the provided return address.</li>
    </ol>

    <p>Once we receive the returned item, we will process your refund or exchange. Please note that shipping fees are non-refundable.</p>
</div>

<div class="container mt-5">
    <h2>Contact Us for Assistance</h2>
    <p>If you have any questions or need assistance regarding shipping and returns, please feel free to contact our customer support team.</p>
    <p>Email: Hunar@gmail.com</p>
    <p>Support Phone: +91 87901 26754 </p>
    <a href="/contact"class="btn btn-primary"
    style="background-color: red; border-color: #000000;">Contact Us</a>
</div>