* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

:root {
    --red: #EC0000;
    --black: #000000;
}


/* navbar  */

.logo_img {
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.nav_links a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:hover i {
  color: red !important; /* Use !important to ensure the styles override Bootstrap's default styles */
}


.navbar-toggler-icon {
    background-color: white !important;
    border-radius: 5px;
}

/* landing page css  */


.image-section {
    position: relative;
    text-align: center;
    margin-top: 0;
}

.image-section img {
    width: 100%;
    height: auto;
}

.launching-para {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
}


/* footer css  */
footer {
    background-color: #000000 !important;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.img-fluid {
    filter: grayscale(100%);
    transition: filter 300ms ease-in-out;
}

.img-fluid:hover {
    filter: none;
}

footer {
    background-color: #0B5ED7;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: red !important;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}




/* show card css */

.custom-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
    transform: scale(1.05);
}





/* Go back button  */
.goback-btn {
    padding: 10px 20px;
    display: inline-block;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.goback-btn a {
    text-decoration: none;
    color: white
}

.goback-btn:hover {
    background-color: #0056b3;
}




/* Media queries  */
@media (max-width: 650px) {
    .nav_links {
        display: flex;
        flex-direction: column;
        /* margin-block:-40px; */
    }

    .container {
        width: 400px !important;
    }

    .map-container iframe {
        width: 300px;
        height: 200px;
    }
}


@media (max-width:900px) {

 
    .map-container iframe {
        width: 500px;
        height: 400px;
    }
}

/* collections  */

@media (max-width:460px) {
    .container {
        width: 350px !important;
    }

    .map-container iframe {
        width: 330px;
        height: 250px;
    }

}


